@charset "UTF-8";
html,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

.blue_bg {
  background-color: #1955a6;
}

.navy_bg {
  background-color: #374466;
}

.green_bg {
  background-color: #108786;
}

.white_bg {
  background-color: #ffffff;
}

.navy {
  color: #374466;
}

.white {
  color: #ffffff;
}

body {
  font-family: "itc-avant-garde-gothic-pro", "hiragino-kaku-gothic-pron", "Noto Sans JP", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  color: #000000;
  background-color: #ffffff;
  background-repeat: repeat;
  mix-blend-mode: multiply;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  word-break: auto-phrase;
}

pre {
  white-space: pre-wrap;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.5em;
  padding-bottom: 30px;
}
@media screen and (orientation: portrait) {
  p {
    padding-bottom: 8px;
  }
}

span {
  display: inline-block;
}

html {
  touch-action: manipulation;
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
  height: 100dvh;
  width: 100vw;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
@media screen and (orientation: portrait) {
  html {
    height: 100dvh;
  }
}

html::-webkit-scrollbar {
  display: none;
}

body {
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
  scrollbar-width: none;
  height: 100dvh;
  width: 100vw;
  margin: 0;
}
@media screen and (orientation: portrait) {
  body {
    height: 100dvh;
  }
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

img,
svg {
  /* PCの右クリック禁止 */
  pointer-events: none;
  /* SPの長押し禁止 */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-touch-callout: none;
  -moz-user-select: none;
  user-select: none;
}

@media print {
  body {
    display: none;
  }
}
.blur {
  filter: blur(10px);
  -webkit-animation: blur-animation 1s ease forwards;
          animation: blur-animation 1s ease forwards;
}

.blur-fast {
  filter: blur(10px);
  -webkit-animation: blur-animation 0.5s ease forwards;
          animation: blur-animation 0.5s ease forwards;
}

@-webkit-keyframes blur-animation {
  100% {
    filter: blur(0);
  }
}

@keyframes blur-animation {
  100% {
    filter: blur(0);
  }
}
.header {
  position: absolute;
  z-index: 10;
  height: 25dvmin;
  width: 25dvmin;
  color: #ffffff;
  background-color: #374466;
  top: calc(50dvh - 12.5dvmin);
  left: calc(50vw - 12.5dvmin);
  font-family: "itc-avant-garde-gothic-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 4dvmin;
  line-height: 1.1em;
}

.logo {
  width: 15.625dvmin;
  height: auto;
}

.header.center {
  text-align: left;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.img {
  width: 100%;
}

.border {
  border-style: solid;
  border-width: 34px;
  box-sizing: border-box;
}

.main {
  width: 100vw;
  height: 100dvh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (orientation: portrait) {
  .main {
    flex-direction: column;
  }
}

.main_flex {
  display: flex;
  flex-direction: column;
  width: min(100dvh, 50vw);
}
@media screen and (orientation: portrait) {
  .main_flex {
    flex-direction: row;
    width: auto;
    height: min(100vw, 50dvh);
  }
}

.main_visual {
  width: min(50vw, 100dvh);
  height: min(50vw, 100dvh);
}
@media screen and (orientation: portrait) {
  .main_visual {
    width: min(100vw, 50dvh);
    height: min(100vw, 50dvh);
  }
}

.main_visuals {
  width: 50vw;
  height: 100dvh;
}
@media screen and (orientation: portrait) {
  .main_visuals {
    width: 100vw;
    height: 50dvh;
  }
}

.main_blank {
  width: 50vw;
  height: calc(100dvh - 50vw);
  overflow: hidden;
}
@media screen and (orientation: portrait) {
  .main_blank {
    width: calc(100vw - 50dvh);
    height: 50dvh;
  }
}
.main_blank .id {
  white-space: nowrap;
  padding-bottom: 8px;
  display: flex;
  color: #ffffff;
  transform-origin: center center;
  transform: translate(4px);
}
@media screen and (orientation: portrait) {
  .main_blank .id {
    transform-origin: left bottom;
    transform: rotate(90deg) translate(-28px, 8px);
  }
}
.main_blank .ma {
  padding-bottom: 8px;
  display: flex;
  color: #ffffff;
  transform-origin: center center;
  transform: translate(calc(50vw - 79.33px), calc(100dvh - 50vw - 24px));
}
@media screen and (orientation: portrait) {
  .main_blank .ma {
    position: absolute;
    bottom: 0;
    transform-origin: left top;
    transform: rotate(-90deg) translate(-28px, calc(100vw - 50dvh - 24px));
  }
}

.main_edge {
  width: calc(50vw - 100dvh);
  height: 100dvh;
  overflow: hidden;
}
@media screen and (orientation: portrait) {
  .main_edge {
    width: 100vw;
    height: calc(50dvh - 100vw);
  }
}
.main_edge .id {
  padding-bottom: 8px;
  display: flex;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  transform-origin: left top;
  transform: rotate(-90deg) translate(-28px, calc(50vw - 100dvh - 24px));
}
@media screen and (orientation: portrait) {
  .main_edge .id {
    position: relative;
    transform: translate(calc(100vw - 146.29px), calc(50dvh - 100vw - 24px));
  }
}
.main_edge .ma {
  white-space: nowrap;
  padding-bottom: 8px;
  display: flex;
  color: #ffffff;
  transform-origin: left bottom;
  transform: rotate(90deg) translate(-28px, 8px);
}
@media screen and (orientation: portrait) {
  .main_edge .ma {
    transform-origin: center center;
    transform: translate(4px);
  }
}

.main_one {
  width: 100vw;
  height: calc(100dvh - 56px);
  display: flex;
}
@media screen and (orientation: portrait) {
  .main_one {
    flex-direction: column;
  }
}

.main_visual_one {
  width: calc(100dvh - 56px);
  height: calc(100dvh - 56px);
}
@media screen and (orientation: portrait) {
  .main_visual_one {
    width: 100vw;
    height: 100vw;
  }
}

.main_blank_one {
  width: calc(50vw - 50dvh + 28px);
  height: calc(100dvh - 56px);
}
@media screen and (orientation: portrait) {
  .main_blank_one {
    width: 100vw;
    height: calc(50dvh - 50vw - 28px);
  }
}

.links {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}

.link_year {
  display: flex;
  width: 25vw;
  height: 25vw;
}
@media screen and (orientation: portrait) {
  .link_year {
    width: 50vw;
    height: 50vw;
  }
}

.link_visual {
  display: flex;
  width: 25vw;
  height: 25vw;
}
@media screen and (orientation: portrait) {
  .link_visual {
    width: 50vw;
    height: 50vw;
  }
}

.link_caption {
  display: flex;
  width: 25vw;
  height: 25vw;
}
@media screen and (orientation: portrait) {
  .link_caption {
    width: 50vw;
    height: 50vw;
  }
}

.visual_caption {
  display: flex;
  width: 25vw;
  height: 25vw;
  z-index: -1;
}
@media screen and (orientation: portrait) {
  .visual_caption {
    width: 50vw;
    height: 50vw;
  }
}

.visual_caption:hov {
  z-index: 10;
}

.link_head {
  display: flex;
  width: 100vw;
  height: 12.5vw;
}
@media screen and (orientation: portrait) {
  .link_head {
    width: 100vw;
    height: 25vw;
  }
}

.link_head2 {
  display: flex;
  width: 100vw;
  height: 10vw;
}
@media screen and (orientation: portrait) {
  .link_head2 {
    width: 100vw;
    height: 20vw;
  }
}

.year {
  display: inline-block;
  padding: 5px;
  color: #ffffff;
  background-color: #374466;
  font-weight: 400;
  font-size: max(16px, 2dvmin);
}
@media screen and (orientation: portrait) {
  .year {
    font-size: 3.5dvmin;
  }
}

.head {
  display: inline-block;
  padding: 5px;
  color: #374466;
  background-color: #ffffff;
  font-weight: 1000;
  font-size: max(16px, 1.8dvmin);
}
@media screen and (orientation: portrait) {
  .head {
    font-size: 3.5dvmin;
  }
}

.caption {
  display: inline-block;
  padding: 5px;
  color: #374466;
  background-color: #ffffff;
  font-size: max(12px, 1.5dvmin);
  overflow: hidden;
  font-weight: 700;
}
@media screen and (orientation: portrait) {
  .caption {
    font-size: 2.8dvmin;
  }
}
.caption .left {
  display: flex;
  text-align: left;
}

.fotter {
  width: 25vw;
  height: 25vw;
  color: #ffffff;
}
@media screen and (orientation: portrait) {
  .fotter {
    height: 50vw;
    width: 50vw;
  }
}

.copyright {
  padding: 2.5vw;
  font-size: 12px;
  font-size: max(12px, 1.5dvmin);
}
@media screen and (orientation: portrait) {
  .copyright {
    font-size: 2.2dvmin;
  }
}
/*# sourceMappingURL=style.css.map */